html {
	background: #088ACA; 
}

body {
	background: #088ACA; 
}

#page-header h1 {
	color: #FFF; 
}

#tabs .tab > a {
	color: #088ACA; 
}

#acp {
	background:  #FFF ; 
}

table {
    border: 1px solid #999999;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

th {
	border: 1px solid #999999;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

fieldset {
    border: 1px solid #999999;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

input, textarea {
	background-color: #FFF; 
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

dd input {
	border: 1px solid #999999;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


dd textarea {
	border: 1px solid #999999;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


input:focus, textarea:focus {
	background-color: #FFF; 
}

a.button1, input.button1,
a.button2, input.button2 {
    margin:0px 0;
    padding: 1px 5px;
    white-space: nowrap;
    vertical-align: middle;
    line-height: middle;
    font: 11px Sans-Serif; /* bold */
    color: #000000;
    background: transparent none 0 0 no-repeat;
    -webkit-transition:all 250ms linear;
    -moz-transition:all 250ms linear;
    -o-transition:all 250ms linear;
    -webkit-appearance: none; /* stop mobile safari from using default button styles */
    border: 1px solid #12A2EA;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow:    0 1px 1px #fff;
    box-shadow:      0 1px 1px #000000;
    text-shadow: 0 0px 0px white;
    background: #eee;
    cursor: pointer;
}


.success {
    border: 1px solid #999999;
    box-shadow: 0 0 4px #000000;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.error {
    border: 1px solid #999999;
    box-shadow: 0 0 4px #000000;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.successbox {
    border: 1px solid #999999;
    box-shadow: 0 0 4px #000000;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.errorbox {
    border: 1px solid #999999;
    box-shadow: 0 0 4px #000000;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}